<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas Carvalho Pereira">
    <meta name="description"
        content="Home - Blog pessoal para aperfeiçoamento de técnicas de desenvolvimento web e portfólio de Lucas Carvalho Pereira. Aqui você encontrará informações sobre projetos, habilidades técnicas e interesses pessoais.">
    <meta name="keywords"
        content="blog, estudo, prático de navios, cabaxi roxo, twitch, portifólio, Lucas Carvalho Pereira, engenharia de computação, desenvolvimento web, tecnologia, programação, software, projetos, GitHub, LinkedIn">
    <meta name="robots" content="noindex, nofollow" />
    <meta name="theme-color" content="#226DAA" />
    <title>Blog pessoal</title>

    <link href="../img/logo.jpg" rel="icon" type="image/x-icon"> <!-- Favicon -->
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<header>
    <div class="container header__container">
        <h1 class="header__title">Lucas Carvalho Pereira</h1>
        <p class="header__text">Desenvolvedor Front-end & Criador de Experiências Digitais</p>

        <nav class="nav__container">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="about.html">Sobre</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="pilot.html">Prático de navios</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="cabaxi-roxo.html">Cabaxi Roxo</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="skills.html">Habilidades</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="contact.html">Contato</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<body>

    <aside>
        <section class="">
            <hr>
            <!-- avisos importantes e barra de progresso-->
        </section>
    </aside>

    <main>
        <section id="hero" class="container">
            <div class="hero__container">
                <div class="hero__img">
                    <img src="../img/quadardoFotoPerfil.png" alt="Minha foto" title="foto de perfil" width="200"
                        height="200">
                </div>
                <div class="hero__perfil">
                    <p class="hero__text">Olá! Meu nome é <strong>Lucas</strong> e sou um desenvolvedor front-end
                        apaixonado
                        por transformar
                        ideias em
                        experiências
                        digitais incríveis. Com foco em <strong>HTML5, CSS3 e JavaScript</strong>, construo sites
                        modernos,
                        responsivos, com
                        acessibilidade e
                        otimizados para performance. Acredito que um bom código, aliado a um design intuitivo, é a chave
                        para o
                        sucesso online.</p>
                    <p class="hero__text">Minha jornada na programação começou com o desejo de criar interfaces que não
                        apenas
                        funcionam, mas que
                        realmente conectam com o usuário. Estou sempre em busca de novos desafios e tecnologias para
                        aprimorar
                        minhas habilidades e entregar soluções de alta qualidade.</p>
                    <ul class="hero__list">
                        <li class="hero__topic">Experiência em desenvolvimento de sites institucionais, e-commerce e
                            catálogo/vitrine.</li>
                        <li class="hero__topic">Foco em usabilidade e acessibilidade para todos os usuários.</li>
                        <li class="hero__topic">Comprometimento com prazos e excelência na entrega.</li>
                        <li class="hero__topic">Apaixonado por resolver problemas e aprender continuamente.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="skills" class="container">
            <div class="skills__container">
                <h2 class="skills__title">Minhas Habilidades técnicas</h2>
                <div class="skills__grid">
                    <div class="skills__item">
                        <h3 class="skills__subtitle">HTML5 & CSS3</h3>
                        <p class="skills__text">Estruturação semântica e estilização avançada para interfaces modernas e
                            responsivas.</p>
                    </div>
                    <div class="skills__item">
                        <h3 class="skills__subtitle">JavaScript (ES6+)</h3>
                        <p class="skills__text">Lógica interativa, manipulação do DOM e consumo de APIs para
                            experiências
                            dinâmicas.</p>
                    </div>
                    <div class="skills__item">
                        <h3 class="skills__subtitle">Responsividade</h3>
                        <p class="skills__text">Desenvolvimento focado em Mobile First, garantindo acessibilidade em
                            qualquer dispositivo.</p>
                    </div>
                    <div class="skills__item">
                        <h3 class="skills__subtitle">Controle de Versão (Git)</h3>
                        <p class="skills__text">Trabalho colaborativo e organização de projetos utilizando Git e GitHub.
                        </p>
                    </div>
                    <div class="skills__item">
                        <h3 class="skills__subtitle">UI/UX Princípios</h3>
                        <p class="skills__text">Noções de User Interface e User Experience para designs intuitivos e
                            agradáveis.</p>
                    </div>
                    <div class="skills__item">
                        <h3 class="skills__subtitle">Performance Web</h3>
                        <p class="skills__text">Otimização de carregamento e desempenho para uma melhor experiência do
                            usuário.</p>
                    </div>
                    <div class="skills__item">
                        <h3 class="skills__subtitle">Acessibilidade</h3>
                        <p class="skills__text">Construção de possibilidades e condições para que pessoas com
                            deficiência
                            possam ter a melhor experiência.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="container">
            <div class="portfolio__container">
                <h2 class="portfolio__title">Meus Projetos Recentes</h2>
                <p class="portfolio__subtitle">Confira alguns dos meus trabalhos que demonstram minhas habilidades em
                    ação.
                </p>
                <div class="portfolio__carousel">
                    <div class="portfolio__slides-wrapper">
                        <div class="portfolio__slide">
                            <img class="portfolio__slide--img" src="../img/" alt="descrição da imagem">
                            <h4 class="portfolio__slide--title">Lorem Ipsum</h4>
                            <p class="portfolio__slide--text">Lorem ipsum dolor sit amet. Aut voluptatem officia hic
                                molestias voluptates a explicabo quisquam At laudantium modi. Et minus accusamus id
                                aliquam
                                error est quia ipsum id ratione nisi.</p>
                            <!-- <a href="LINK_PARA_O_SITE" target="_blank" class="project__link">Ver Projeto</a> -->
                        </div>
                        <div class="portfolio__slide">
                            <img class="portfolio__slide--img" src="../img/" alt="descrição da imagem">
                            <h4 class="portfolio__slide--title">Lorem Ipsum</h4>
                            <p class="portfolio__slide--text">Lorem ipsum dolor sit amet. Aut voluptatem officia hic
                                molestias voluptates a explicabo quisquam At laudantium modi. Et minus accusamus id
                                aliquam
                                error est quia ipsum id ratione nisi.</p>
                            <!-- <a href="LINK_PARA_O_PROJETO_LANDING" target="_blank" class="project__link">Ver Projeto</a> -->
                        </div>
                        <div class="portfolio__slide">
                            <img class="portfolio__slide--img" src="../img/" alt="descrição da imagem">
                            <h4 class="portfolio__slide--title">Lorem Ipsum</h4>
                            <p class="portfolio__slide--text">Lorem ipsum dolor sit amet. Aut voluptatem officia hic
                                molestias voluptates a explicabo quisquam At laudantium modi. Et minus accusamus id
                                aliquam
                                error est quia ipsum id ratione nisi.</p>
                            <!-- <a href="LINK_PARA_O_PROJETO_PORTFOLIO" target="_blank" class="project__link">Ver Projeto</a> -->
                        </div>
                        <div class="portfolio__slide">
                            <img class="portfolio__slide--img" src="../img/" alt="descrição da imagem">
                            <h4 class="portfolio__slide--title">Lorem Ipsum</h4>
                            <p class="portfolio__slide--text">Lorem ipsum dolor sit amet. Aut voluptatem officia hic
                                molestias voluptates a explicabo quisquam At laudantium modi. Et minus accusamus id
                                aliquam
                                error est quia ipsum id ratione nisi.</p>
                            <!-- <a href="LINK_PARA_O_PROJETO_ECOMMERCE" target="_blank" class="project__link">Ver Projeto</a> -->
                        </div>
                        <div class="portfolio__slide">
                            <img class="portfolio__slide--img" src="../img/" alt="descrição da imagem">
                            <h4 class="portfolio__slide--title">Lorem Ipsum</h4>
                            <p class="portfolio__slide--text">Lorem ipsum dolor sit amet. Aut voluptatem officia hic
                                molestias voluptates a explicabo quisquam At laudantium modi. Et minus accusamus id
                                aliquam
                                error est quia ipsum id ratione nisi.</p>
                            <!-- <a href="LINK_PARA_O_PROJETO_DASHBOARD" target="_blank" class="project__link">Ver Projeto</a> -->
                        </div>
                        <div class="portfolio__slide">
                            <img class="portfolio__slide--img" src="../img/" alt="descrição da imagem">
                            <h4 class="portfolio__slide--title">Lorem Ipsum</h4>
                            <p class="portfolio__slide--text">Lorem ipsum dolor sit amet. Aut voluptatem officia hic
                                molestias voluptates a explicabo quisquam At laudantium modi. Et minus accusamus id
                                aliquam
                                error est quia ipsum id ratione nisi.</p>
                            <!-- <a href="LINK_PARA_O_PROJETO_EVENTO" target="_blank" class="project__link">Ver Projeto</a> -->
                        </div>
                    </div>
                    <div class="portfolio__slides-btn">
                        <button class="portfolio__slides-prev">❮</button>
                        <button class="portfolio__slides-next">❯</button>
                    </div>

                </div>
            </div>
        </section>

        <section id="contact" class="container">
            <div class="contact__container">
                <h2 class="contact__title">Vamos Conversar!</h2>
                <p class="contact__subtitle">Interessado em um site personalizado ou tem alguma dúvida? Preencha o
                    formulário
                    ou entre em contato diretamente.</p>
                <div class="contact__grid">
                    <div class="contact__form-wrapper">
                        <h3 class="contact__form-title">Envie sua Mensagem</h3>
                        <form action="SEU_FORMULARIO_DE_CONTATO_ENDPOINT" method="POST">
                            <label for="contact__form-nome">Seu Nome:</label>
                            <input type="text" id="contact__form-nome" name="nome" required>

                            <label for="contact__form-email">Seu Melhor E-mail:</label>
                            <input type="email" id="contact__form-email" name="email" required>

                            <label for="contact__form-assunto">Assunto:</label>
                            <input type="text" id="contact__form-assunto" name="assunto">

                            <label for="contact__form-mensagem">Sua Mensagem/Detalhes do Projeto:</label>
                            <textarea id="contact__form-mensagem" name="mensagem" rows="5" required></textarea>

                            <button type="submit" class="contact__btn">Enviar Mensagem</button>
                        </form>
                    </div>
                    <div class="contact__info-wrapper">
                        <h3 class="contact__info-title">Contato Direto</h3>
                        <p class="contact__info-text">Prefere conversar? Me encontre nas redes sociais ou envie um
                            e-mail.
                        </p>
                        <div class="contact__info-item">
                            <p class="contact__info-email"><strong>Email:</strong> <a class="contact__info-email__link"
                                    href="mailto:lucas-cp@outlook.com">lucas-cp@outlook.com</a></p>
                        </div>
                        <div class="contact__info-item">
                            <p class="contact__info-linkedin"><strong>LinkedIn:</strong> <a
                                    class="contact__info-linkedin__link" href="https://linkedin.com/in/llucascpereira"
                                    target="_blank">linkedin.com/in/llucascpereira</a></p>
                        </div>
                        <div class="contact__info-item">
                            <p class="contact__info-github"><strong>GitHub:</strong> <a
                                    class="contact__info-github__link" href="https://github.com/llucascpereira"
                                    target="_blank">github.com/llucascpereira</a>
                            </p>
                        </div>
                        <div class="contact__info-item">
                            <p class="contact__info-whatsapp"><strong>WhatsApp:</strong> <a
                                    class="contact__info-whatsapp__link" href="https://wa.me/91988578084"
                                    target="_blank">91
                                    98857-8084</a></p>
                        </div>
                        <p class="contact__info-availability">Disponível para novos projetos e colaborações.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <section id="footer" class="container">
            <div class="footer__container">
                <p class="footer__text">
                    &copy; 2025 Lucas Carvalho Pereira<sup>®</sup>. Todos os direitos reservados. Confira nossa <button
                        id="openPrivacyPopup" class="footer__btn">Política de Privacidade</button>.
                </p>
            </div>
        </section>
    </footer>

    <div id="privacyPopup" class="popup-overlay">
        <div class="popup-content">
            <button class="close-popup-btn">&times;</button>
            <h2>Política de Privacidade (LGPD)</h2>
            <div class="privacy-text-content">
                <p>A privacidade dos seus dados é muito importante para nós. Esta política descreve como coletamos,
                    usamos e protegemos suas informações pessoais.</p>

                <h3>1. Coleta de Dados</h3>
                <p>Coletamos informações que você nos fornece diretamente, como nome, e-mail e telefone, ao preencher
                    nossos formulários de contato. Também podemos coletar dados de navegação (como IP, tipo de
                    navegador, páginas visitadas) de forma anonimizada para melhorar a experiência em nosso site.</p>

                <h3>2. Uso dos Dados</h3>
                <p>Os dados coletados são utilizados para:</p>
                <ul>
                    <li>Responder às suas solicitações de contato e orçamento.</li>
                    <li>Melhorar a navegação e o conteúdo do nosso site.</li>
                    <li>Enviar comunicações de marketing (apenas com seu consentimento explícito).</li>
                </ul>

                <h3>3. Compartilhamento de Dados</h3>
                <p>Nós não vendemos, trocamos ou alugamos suas informações pessoais para terceiros. Seus dados podem ser
                    compartilhados com parceiros de serviço (ex: plataforma de e-mail marketing, analytics) estritamente
                    para o desempenho das finalidades descritas acima e sob contratos que garantam a proteção dos dados.
                </p>

                <h3>4. Seus Direitos (LGPD)</h3>
                <p>De acordo com a Lei Geral de Proteção de Dados (LGPD), você tem o direito de:</p>
                <ul>
                    <li>Acessar seus dados.</li>
                    <li>Corrigir dados incompletos, inexatos ou desatualizados.</li>
                    <li>Solicitar a anonimização, bloqueio ou eliminação de dados desnecessários.</li>
                    <li>Revogar seu consentimento a qualquer momento.</li>
                </ul>
                <p>Para exercer esses direitos, entre em contato conosco através do nosso formulário ou e-mail.</p>

                <h3>5. Segurança</h3>
                <p>Adotamos medidas de segurança técnicas e administrativas para proteger suas informações contra
                    acessos não autorizados, perdas ou alterações indevidas.</p>

                <h3>6. Alterações na Política de Privacidade</h3>
                <p>Esta política pode ser atualizada periodicamente. Recomendamos que você a revise sempre que visitar
                    nosso site. A data da última atualização será indicada no início desta política.</p>

                <p>Data da última atualização: 29 de junho de 2025.</p>
            </div>
        </div>
    </div>

    <script src="../js/script.js"></script>
    <script src="../js/portifolio.js"></script>

</body>

</html>