<header>
    <div class="container header__container">
        <h1 class="header__title">Lucas Carvalho Pereira</h1>
        <p class="header__text">Desenvolvedor Front-end & Criador de Experiências Digitais</p>

        <nav class="nav__container">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="sobre.html">Sobre</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="pilot.html">Prático de navios</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="cabaxi-roxo.html">Cabaxi Roxo</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="estudo.html">Conhecimento</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="contato.html">Contato</a>
                </li>
            </ul>
        </nav>
    </div>

</header>